<form class="form-horizontal" method="post" action="http://localhost:3000/app/delpessoa">
<fieldset>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id">ID</label>
  <div class="col-md-2">
  <input id="id" name="id" type="text" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submitB"></label>
  <div class="col-md-4">
    <button id="submitB" name="submitB" type="submit" class="btn btn-danger">Deletar</button>
  </div>
</div>

</fieldset>
</form>
