<style>
  .row.content {height: 100vh}
  .sidenav {
    background-color: #f1f1f1;
    height: 100%;
  }
  button{width:87.47px}
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;}
  }
</style>
<ng-template #tempCad>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cadastrar</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-cadastro></app-cadastro>
  </div>
</ng-template>
<ng-template #tempAtt>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Atualizar</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-atualizar></app-atualizar>
  </div>
</ng-template>
<ng-template #tempDel>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Deletar</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-deletar></app-deletar>
  </div>
</ng-template>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Menu</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><button type="button" class="btn btn-link" (click)="openModal(tempCad)">Cadastrar</button></li>
        <li><button type="button" class="btn btn-link" (click)="openModal(tempAtt)">Atualizar</button></li>
        <li><button type="button" class="btn btn-link" (click)="openModal(tempDel)">Deletar</button></li>
      </ul><br>
    </div>
    <div class="col-sm-9">
    <app-listar></app-listar>
    </div>
  </div>
</div>
